<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
body {
	margin: 0;
}

#title {
	width: 100%;
	background: #1C2B36;
	color: white;
	padding: 3px;
}

a {
	color: #0099CC;
}

h2, p, ul {
	margin-left: 25px;
}
</style>
</head>
<body>
	<h2>Lotus</h2>
	<div id="title">
		<p>Activation de votre compte</p>
	</div>

	<div>
		<br />
		<p>
			Bonjour <span th:text="${user.firstname}" /> <span
				th:text="${user.lastname}" />
		</p>
		<p>Vous recevez ce mail parce que vous avez demandé la création ou
			la réinitialisation de votre compte utilisateur.</p>
		<p>
			Pour finaliser votre demande, veuillez activer votre compte dans un
			délai de 72h : <br />
		<ul>
			<li>Identifiant : <strong th:text="${user.login}"></strong></li>
			<li><a th:with="baseUrl=(${basePath}+'activate_account')"
				th:href="@{${baseUrl}(token=${token})}">Lien vers le formulaire
					d'activation</a></li>
		</ul>
		</p>
		<br />
		<p>
			<b>Votre administrateur</b>
		</p>
	</div>
</body>
</html>